<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand titulo" routerLink="inicio">SubMy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">☰</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="servicioUsuario.logIn(); else loggedOut">
          <a class="nav-link item" routerLink="suscripciones">Suscripciones</a>
          <a class="nav-link item" routerLink="crearSuscripcion">Nueva suscripción</a>
          <a class="nav-link item" routerLink="perfil">Perfil</a>
          <a class="nav-link item" (click)="logout()" routerLink="login">Cerrar sesión</a>
        </ng-container>

        <ng-template #loggedOut>
          <a class="nav-link item" routerLink="inicio">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link item" routerLink="login">Login</a>
        </ng-template>  
        
      </ul>
    </div>
  </nav>