.plantillainicio {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 0.5fr 11fr 0.5fr;
    grid-template-columns: 12fr;
    grid-template-areas: "cabecera" "cuerpo" "pie";
}

.cabecera {
    grid-area: cabecera;
    color: rgb(27, 31, 34);
}

.cuerpo {
    grid-area: cuerpo;
}

.pie {
    grid-area: pie;
    background-color: purple;
}