.plantillainicio {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 12fr;
    grid-template-areas: "cabecera" "cuerpo" "pie";
}

.cabecera {
    grid-area: cabecera;
    background-color: aquamarine;
}

.cuerpo {
    grid-area: cuerpo;
    background-color: coral;
    display: grid;
}

.pie {
    grid-area: pie;
    background-color: lawngreen;
   
}