<div class="contenerdorRegistro">
    <div class="textoExplicativo">
        <h2>Titulo de muestra</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, excepturi! Ut est, quod debitis quidem sed recusandae veritatis! </p>
    </div>
   <div class="registro">
    <form [formGroup]="formregistro" (submit)="submit()" class="formRegistro">
        Registro <br>
         Nick: <input type="text" formControlName="nick">
         Nombre: <input type="text" formControlName="nombre">
         Apellidos: <input type="text" formControlName="apellidos">
         Imagen: <input type="file" formControlName="imagen">
         Email: <input type="text" formControlName="email">
         Contraseña: <input type="password" formControlName="password">
        <!--Repite la contraseña: <input type="password" formControlName="compruebaPassword">-->            
                     <button type="submit">Enviar</button>
     </form>
   </div>
    
</div>
