@import "https://maxcdn.bootstrapcdn.com/font-awesome/5.12.0/css/font-awesome.min.css";

.contenedorRegistro{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 31, 34);
}

.imagenFondo {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 12fr;
    grid-template-areas: "texto registro";
    justify-items: center;
    background: url('../../../assets/img/imgFondoInicio2.png') no-repeat fixed top;
    background-size: cover;
    opacity: 80%;
    height: 100%;
    width: 100%;
}

.textoExplicativo{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.textoExplicativo h2 {
    font-size: 40px;
    font-weight: bold;
}
.textoExplicativo p {
    font-size: 30px;
}

.registro{
    grid-area: registro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRegistro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    width: 70%;
    height: 70%;
    color: white;
    border-radius: 10px;
}
.formRegistro h3 {
    border-bottom: 5px solid #800080;
    margin-bottom: 50px;
    padding: 8px 0;
}
.text-box {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    border-bottom: 2px solid #800080;
}
.btn {
    width: 100%;
    background: rgb(39, 39, 46);
    border: 2px solid #800080;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .imagenFondo{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 6fr 6fr;
        grid-template-areas: "texto"
                             "registro";
        justify-items: center;
        height: 100%;
        width: 100%;
    }
}