.listaSuscripciones {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.suscripcion {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.barra {
    border: 1px solid black;
    height: 10px;
    width: 100%;
}

.barraCarga {
    background-color: rgb(27, 80, 255);
    height: 100%;
}